<h2>Student Details</h2> 

<hr/>
<div *ngIf="student">
  <div>
    <img  onerror="this.src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcm6y1jBB-L5LSxWr1u-KG0hjf6lHrzSiKBA&usqp=CAU'" class="img-responsive smaller" src="{{student.student_image}}"/>&nbsp;
  </div>
  <div>
    <label><b>Name: </b></label> {{student.student_name}}
  </div>
  <div style="margin-top: 20px">
    <label><b>Email Id: </b></label> {{student.student_email}}
  </div>
  <div style="margin-top: 20px">
    <label><b>Course: </b></label> {{student.student_department}}
  </div>
</div>


<br>
<br>
<button (click)="list()" class="btn btn-secondary">Back</button><br>
